<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - [Vue.js] Desktop &quot;OS&quot; Style Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/utils/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="w-100 vh-100 relative" id="desktop">
  <nav class="absolute top-0 left-0 right-0 flex items-center pv2 ph4">
    <img class="logo mr4" src="https://image.ibb.co/iD2r35/smiley.png ">
	<a class="white link no-underline f7 mr4 b" href="#about">Home</a>
	<a class="white link no-underline f7 mr4" href="https://www.linkedin.com/in/pritamacharya/details/certifications/1718859731958/single-media-viewer?type=DOCUMENT&profileId=ACoAAEaYeAkBnm_ZXPOFbRVp-fGdWgWVJj7qeQ4&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3B4%2Fq759OZQZyjhwTLQRfUEQ%3D%3D" target="_blank">CS50</a>
	<a class="white link no-underline f7 mr4" href="https://www.linkedin.com/in/pritamacharya/details/certifications/" target="_blank">All Certifications</a>
	<a class="white link no-underline f7 mr4" href="https://www.linkedin.com/in/pritamacharya/" target="_blank">LinkedIn</a>
	<a class="white link no-underline f7 mr4" href="https://www.instagram.com/pritam.ach/" target="_blank">Instagram</a>
  </nav>
  <div class="restrictor absolute right-2 bottom-2 left-2">
    <transition-group name="fade">
      <draggable-window :id="window.id" v-if="window.isShowing" v-for="(window, $index) in windows" :key="$index" :content="window.comp" :title="window.title" :index="window.id">
        {{ window.content }}
      </draggable-window>
    </transition-group>
  </div>
  <div class="absolute top-0 right-0 bottom-0 h-100 flex flex-column pa4">
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('welcome')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon me"></figure>
        <h4 class="ma0">About Me</h4>
      </button>
    </div>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('home')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon home"></figure>
        <h4 class="ma0">Skills</h4>
      </button>
    </div>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('writing')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon writing"></figure>
        <h4 class="ma0">Projects</h4>
      </button>
    </div>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('calendar')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon calendar"></figure>
        <h4 class="ma0">Contact</h4>
      </button>
    </div>
  </div>
</div>

<script type="x/template" id="draggable-window">
	<div :id="id" class="window absolute bg-white ba bw2 b--black">
    <div class="bb b--black bw2 flex items-center pa1">
      <button @click="closeWindow" class="bg-transparent bn dim flex items-center">
				<!-- Bauhaus FTW -->
      	<i class="material-icons mr1 f5">change_history</i>
        <i class="material-icons mr1 f5">crop_square</i>
        <i class="material-icons f6">radio_button_unchecked</i>
      </button>
    </div>
    <div class="pa3">
    	<div :is="content"></div>
    </div>
  </div>
</script>

<script type="text/x-template" id="welcome-template">
	<div class="measure">
  	<p class="mt0">My name is <span class="dark-pink">Pritam Acharya</span>, a passionate Flutter Developer and Coding Enthusiast.</p>
    <p>I'm currently pursuing my <span class="dark-pink">BTech in Computer Science</span> from Indira Gandhi Institute of Technology (IGIT), Sarang.</p>
    <p>I have experience working at <span class="dark-pink">Webito Infotech</span> and <span class="dark-pink">Cloud Counselage Pvt. Ltd.</span> as a Flutter and Python Developer intern, respectively.</p>
    <p>I love exploring new technologies and continuously improving my skills in <span class="dark-pink">Java</span>, <span class="dark-pink">Python</span>, and other programming languages.</p>
  </div>
</script>

<script type="text/x-template" id="home-template">
	<div class="measure">
  	<h3 class="mt0">Hard Skills:</h3>
    <ul class="list pl0">
      <li class="pb2"><span class="dark-pink">Java Programming</span></li>
      <li class="pb2"><span class="dark-pink">Flutter Development</span></li>
      <li class="pb2"><span class="dark-pink">Python Programming</span></li>
      <li class="pb2"><span class="dark-pink">Data Structure and Algorithms</span></li>
      <li class="pb2"><span class="dark-pink">Artificial Intelligence/Machine Learning</span></li>
      <li class="pb2"><span class="dark-pink">API Designing</span></li>
    </ul>
    
    <h3 class="mt4">Soft Skills:</h3>
    <ul class="list pl0">
      <!-- Add your soft skills here -->
      <li class="pb2"><span class="dark-pink">Problem Solving</span></li>
      <li class="pb2"><span class="dark-pink">Communication</span></li>
      <li class="pb2"><span class="dark-pink">Teamwork</span></li>
      <li class="pb2"><span class="dark-pink">Adaptability</span></li>
      <li class="pb2"><span class="dark-pink">Time Management</span></li>
    </ul>
  </div>
</script>



<script type="text/x-template" id="writing-template">
	<div class="measure">
	  <p class="mt0">Check out some of the projects I have worked on:</p>
	  <ul class="list pl0">
		<li class="pb2">
		  <a href="https://media.licdn.com/dms/image/v2/D562DAQFfSZAexEgXtA/profile-treasury-image-shrink_1920_1920/profile-treasury-image-shrink_1920_1920/0/1724777326092?e=1726254000&v=beta&t=iIupzFHaHT3R_ZERXWz5ca6a0a7tGaNcH2bEhRUmeAE" class="dark-pink" target="_blank">AI-Powered Poster Generator</a> for College Clubs
		</li>
		<li class="pb2">
		  <a href="https://drive.google.com/file/d/1zWjMTZ3qvsYRhoXG-5KHLfXaG5e5LP_6/view" class="dark-pink" target="_blank">Voice-Controlled Morse Code Converter</a>
		</li>
		<li class="pb2">
		  <a href="https://drive.google.com/file/d/1t45GsVHsmTA4kN14FUeCF9W5zqQ4eVJR/view?usp=drive_link&usp=embed_facebook" class="dark-pink" target="_blank">Image to Music Converter using AI/ML</a>
		</li>
		<li class="pb2">
		  <a href="https://pritam.streamlit.app/" class="dark-pink" target="_blank">My Website (using Python only)</a>
		</li>
		<li class="pb2">
			<a href="https://drive.google.com/file/d/1BvKYTSDoJPinJ_x4XzklCmQlcqku5WAj/view?usp=sharing&usp=embed_facebook" class="dark-pink" target="_blank">Sentimental Analysis</a>
		  </li>
		<li class="pb2">
		  <a href="https://drive.google.com/file/d/1arQQpG2mzO1zxLomAwlKrtwW5k3kPBYq/view?usp=drivesdk&usp=embed_facebook" class="dark-pink" target="_blank">AI-Powered Rap Generator</a>
		</li>
		<li class="pb2">
		  <a href="https://drive.google.com/file/d/1ak_Jylfs-mCq4o2mb--JbB4OQMLvrba0/view?usp=drivesdk&usp=embed_facebook" class="dark-pink" target="_blank">Text to Handwriting</a>
		</li>
		<li class="pb2">
		  <a href="https://drive.google.com/file/d/1ak-5VWjZau7yoFfYa7KsW1s0PjmoKYUR/view?usp=drivesdk&usp=embed_facebook" class="dark-pink" target="_blank">AI Document Question Answering</a>
		</li>
		<li class="pb2">
		  <a href="https://drive.google.com/file/d/1aY2-IPirSceLS5RE8RR3hjVeGbyuGsEg/view?usp=drivesdk&usp=embed_facebook" class="dark-pink" target="_blank">Audio-Visualizer</a>
		</li>
		<li class="pb2">
		  <a href="https://drive.google.com/file/d/1ak89jBOVEPsZHPUAAShgMutmd3l74oFU/view?usp=drivesdk&usp=embed_facebook" class="dark-pink" target="_blank">Realtime English to Odia Translator</a>
		</li>
		<li class="pb2">
		  <a href="https://docs.google.com/presentation/d/1UYb2slFTyIyXB0aF9Pwsyxp6eQmaVO_E/edit?usp=sharing&ouid=111223326657905586128&rtpof=true&sd=true&usp=embed_facebook" class="dark-pink" target="_blank">AI-Virtual Tutor</a>
		</li>
		<li class="pb2">
		  <a href="https://drive.google.com/file/d/1lcH2s97iktHTUyFN1eFeITREM5Hh7Aim/view?usp=sharing&usp=embed_facebook" class="dark-pink" target="_blank">Bored - A 2D endless runner for Android</a>
		</li>
	  </ul>
	</div>
  </script>
  


<script type="text/x-template" id="calendar-template">
	<div class="measure-wide">
  	<p class="mt0">I'd love to hear from you!</p>
    <hr class="o-40 mb3">
    <h4 class="mt0 mb2"><span class="dark-pink">Get in Touch:</span></h4>
	<p class="mt0">You can reach me via email at <a href="mailto:pritamacharya@example.com" class="dark-pink">pritamach.exe@gmail.com</a> or connect with me on <a href="https://www.instagram.com/pritam.ach/" target="_blank" class="dark-pink">Instagram</a> and <a href="https://www.linkedin.com/in/pritamacharya/" target="_blank" class="dark-pink">LinkedIn</a>.</p>

  </div>
</script>


<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<script src='https://cdn.rawgit.com/HugoGiraudel/Countdown.js/a88b61fc/countdown.min.js'></script><script  src="./script.js"></script>

</body>
</html>
